

CLOUDINARY_API_KEY=365173165178178
CLOUDINARY_API_SECRET=RHw8S9slXFHNEzxvKKltYiCgfnE
CLOUDINARY_CLOUD_NAME=dlmnievol
EMAIL_FROM="Cargo Express 66 <noreply@cargoexpress66.com>"
FRONTEND_URL=http://localhost:5173
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d
JWT_REFRESH_SECRET=cargo-express-66-refresh-secret-super-secure-2024
JWT_SECRET=cargo-express-66-jwt-secret-super-secure-2024
NODE_ENV=development
PORT=3001
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW_MS=900000
SMTP_FROM=Contact.cargoexpress66@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PASS=xgvgfawwjqmfrcmf
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=Contact.cargoexpress66@gmail.com
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdnYmZ1Y3V5bG14c256a3N0ZHpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIzOTUyMTgsImV4cCI6MjA5Nzk3MTIxOH0.cKW6snJQOdKAgSqDzQ5g4kpR78URm4sDhiwLZMSdTfM
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdnYmZ1Y3V5bG14c256a3N0ZHpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM5NTIxOCwiZXhwIjoyMDk3OTcxMjE4fQ.EPnL2-FY-rbY5WdirtPDN25-oFUqlQdKClWAvLjLn-g
SUPABASE_URL=https://ggbfucuylmxsnzkstdzf.supabase.co